name: Lint

on:
  push:
    paths-ignore:
      - "**.md"

permissions:
  contents: read

jobs:
  golang-ci:
    name: GolangCi-Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: -E misspell,whitespace,unconvert,noctx,musttag,errchkjson,errname,exhaustive,exptostd
          version: latest
