name: Reviewdog

on:
  pull_request:
    paths-ignore:
      - "**.md"

permissions:
  contents: read

jobs:
  golangci-lint:
    name: runner / golangci-lint
    runs-on: ubuntu-latest
    steps:
      # optionally use a specific version of Go rather than the default one
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.x"
          cache: true

      - name: Check out code into the Go module directory
        uses: actions/checkout@v5

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: -E misspell,whitespace,unconvert,noctx,musttag,errchkjson,errname,exhaustive,exptostd
          version: latest
